@page "/counter2"
@inherits Counter2Base

<PageTitle>Counter</PageTitle>

<h1>P5 - separar html de c shar</h1>
<p role="status">Cantidad click boton: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
